<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-cronapp-migrate-storage" version="1.0.2">
    <name>cordova-plugin-cronapp-migrate-storage</name>
    <description>
        Cordova plugin that migrates WebSQL, localStorage data when you start using the `cordova-plugin-ionic-webview` plugin.
        This works only for Android!
    </description>
    <keywords>ecosystem:cordova,cordova-plugin,cordova,cordova-ios,cordova-android,ios,android,wkwebview,websql,localstorage,indexeddb</keywords>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MigrateStorage">
                <param name="android-package" value="com.migrate.android.MigrateStorage" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <framework src="src/android/migrate-storage.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/MigrateStorage.java" target-dir="src/com/migrate/android" />
    </platform>
</plugin>